@model PaginatedList<SlackOverload.Models.Question>


@{
    ViewData["Title"] = "MainPage";
}

<h1>Main Page</h1>

<h2>Recent Questions</h2>
<a asp-action="SortPage"><button type="button">Sort by most answered</button></a>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Username
            </th>
            <th>
                Number Of Answers
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.User.Email (@item.User.Reputation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers.Count)
            </td>
            <td>
                <a asp-action="QuestionDetails" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a asp-action=AnswerQuestion asp-route-questionId="@item.Id">Answer this question</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="MainPage"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="MainPage"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<br />
<a asp-action=NewQuestion>Ask new question</a>
